
// BLOC 1
#h1-presta {
    text-align: center;
    font-size: 30px;
    color: white;
}

#bloc-1 {
    // margin-top: 20px !important;
}


// BLOC 2 

#bloc-2 {
    margin-top: 50px !important;
}

#bloc-2-border {
    background-color: white;
    height: 90px;
    border-radius: 10px;
}


// BLOC 3 

#bloc-3 {
    margin-top: 50px !important;
}

#bloc-3-border {
    background-color: white;
    height: 90px;
    border-radius: 10px;
}