
<%# TITLE %>
<% @title="Apprentissages par le jeu et écoles pour les 2 à 15 ans | Hello Houston Learnings" %>

<%# DESCRIPTION %>
<% content_for :head do %>
    <meta name="description" content="Les apprentissages par le jeu pour les enfants...">
<% end %>

<%# NAVBAR %>
  <%= render 'shared/navbar' %> 


<p class="color">test</p>