

<%# TITLE %>
<% @title="Prestataires d'apprentissages (club, association, école...) pour les enfants de 2 à 15 ans | Hello Houston Learnings" %>



<%# DESCRIPTION %>
<% content_for :head do %>
    <meta name="description" content="Les apprentissages par le jeu pour les enfants...">
<% end %>



<div class="banner-prestataires" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'banner_tree_2.jpg' %>); position:relative;">
                
        <%# BLOC 1 => TITRE DE LA PAGE %>
        <div class="container" id="bloc-1">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <h1 id="h1-presta">La plus grande communauté de prestataires d'apprentissages (club, association, école...)
                    pour vos enfants de 2 à 15 ans près de chez vous !</h1>
                </div>
                <div class="col-1"></div>
            </div>
        </div>           


        <%# BLOC 2 => CHAMP "SIMPLE" %>
        <div class="container" id="bloc-2">
            <div class="row">
                <div class="col-12" id="bloc-2-border">
                    <%# FORM => SEARCH  %>
                </div>
            </div>
        </div>


        <%# BLOC 3 => CHAMP "COMPLEXE" %>
        <div class="container" id="bloc-3">
            <div class="row">
                <div class="col-12" id="bloc-3-border">
                    <%# FORM => SEARCH  %>
                </div>
            </div>
        </div>

</div>







